# MANIFEST.in
#
# This tells distutils what files to distribute.

include LICENSE
include README.rst
include MANIFEST.in

# Main
recursive-include update *.py
# recursive-exclude * .gitignore
# recursive-exclude * .travis.yml
# recursive-exclude * .DS_Store
