# MANIFEST.in
#
# This tells distutils what files to distribute.

include License.txt
include README.rst
include MANIFEST.in

# Main
recursive-include *.py
recursive-exclude * .gitignore
recursive-exclude * .travis.yml
recursive-exclude * .DS_Store
